.notes {
    color: rgb(131, 131, 131);
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
.note-header {
	display: flex;
	align-items: center;
  justify-content: space-between;    
  margin: 5px 10px 5px 10px;
}
.notes #blueHover {
  font-size: 18px;
}
.notes h1 {
	display: inline;
	text-align: center;
	font-weight: lighter;
  font-size: 22px;
  margin: 0;
  
}
.input-group-append {
    margin-left: -1px;
    position: absolute;
    right:25px;
    top: 10px;
    z-index: 10;
}
#search {
  padding: 0.2rem 2rem 0.2rem 0.75rem;
  margin: 0 15px;
}

hr.line {
	background: rgb(206, 205, 205);
	margin: 10px 0 0 0;
}
input.search:focus {
	border: 1px solid rgb(168, 168, 247);
	background: #fff;
}
.notes div.notePages {
	flex:1 1 auto;
	overflow-y: auto;
}
button.AddTag {
	border: 1px solid rgb(143, 143, 143);
	border-radius: 10px;
	height: 20px;
	color: rgb(161, 161, 161);
	cursor: pointer;
	margin-left: 7px;
}
.notePages::-webkit-scrollbar {
	width: 12px;
}

/* Track */
.notePages::-webkit-scrollbar-track {
	background: rgb(235, 233, 233);
}
.notePages::-webkit-scrollbar-corner {
	background: #000;
}
/* Handle */
.notePages::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 0px;
	background: rgb(204, 204, 204);
}
.notePages::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(235, 233, 233);
}
div.note {
	height: 100px;
    border-bottom: 1px solid rgb(201, 200, 200);
    text-align: left;
}
div.color2 {
	color: white;
	background: rgb(82, 171, 255);
	box-shadow: inset 0 0 4px #000;
}

div.info {
	font-size: 3px;
	display: flex;
	flex-direction: column;
	padding: 0 10px 10px 10px;
	height:70px;
	font-size: 12px;
	overflow: hidden;
}

div.info .head {
	display: flex;
	align-items: center;
}

.head p {
	min-width: 50px;
	max-width: 100px;
}

p.since {
	color: rgba(46, 155, 228, 0.8);
}

button {
	margin-right: 7px;
}

.info button.AddTag {
	font-size: 10px;
	color: rgb(161, 161, 161);
}

.info .nCursor {
	cursor: default;
}

.note p {
	margin: 0;
	padding: 0px;
	overflow:hidden;
}
p.topic {
	padding: 10px 10px 0 10px;
	font-weight: bold;
	flex-grow: 1;
	margin-right: 20px;
	white-space: nowrap;
}

.droppedTopic {
	text-decoration: line-through;
}

p.tags {
	padding: 0;
}